/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*CSS Reset ^^*/



body{
	font-family: 'Open Sans', sans-serif;
}

nav{
	padding: 0.8rem;
	/*top right bottom left OR top/bottom  left/right*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}
nav .nav, nav .nav-logo{
	list-style-type: none;
	margin: 0.5rem;
	display: inline;
}

/*INTRO section*/
#intro{
	padding: 2rem 10% 3rem 10%;
	text-align: center;
}

.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	padding: 1rem;
}

#succeed-info{
	padding: 2rem 10% 3rem 10%;
}
#succeed-info h2{
	margin-bottom: 1rem;
}
#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}
#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer{
	padding:0.7rem;
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	padding: 1rem;
	background-color: #002540;
	color:white;
}
#pre-footer div{
	display: inline-block;
	margin-right: 7rem;
	margin-top: 0.7rem;

}
#pre-footer  p, #pre-footer  h3{
	margin-bottom: 0.7rem;
	
}